<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login de acceso admon</title>
    <script src="{{url}}js/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/semantic.min.js"></script>
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a class="active item" href="{{url}}">
          Mi aplicación :DDDDDDDDDDDD
        </a>
        <a class="item" href="{{url}}tabla/1">
          Usuario
        </a>
        <a class="item" href="{{url}}tabla/2">
          Perfil
        </a>
        <a class="item" href="{{url}}tabla/3">
          Sala
        </a>
        <a class="item" href="{{url}}tabla/4">
          Agenda
        </a>
        <a class="item" href="{{url}}tabla/5">
          Agenda Participante
        </a>
        <a class="item right" ng-show="{{usuario}}" ng-click="btnCierra()">
          Cerrar sesion
        </a>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
</html>
