<div class="ui grid" ng-controller="homeCtrl" ng-init="init()">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Agenda participante</h1>
    </center>
    <div class="ui label">
      Total de registros
      <div class="detail">{[list.length]}</div>
    </div>
    <table class="ui green table">
      <thead>
        <th>Asunto agenda</th>
        <th>Total participante</th>
        <th>Fecha agenda</th>
        <th>Cafeteria</th>
        <th>Proyector</th>
        <th>Pizarron</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.asunto]}</td>
          <td>{[l.total]}</td>
          <td>{[l.fecha | date:'dd/MM/yyyy']}</td>
          <td>
            <button class="circular ui positive icon button" ng-show="l.cafeteria">
              <i class="icon check"></i>
            </button>
          </td>
          <td>
            <button class="circular ui positive icon button" ng-show="l.proyector">
              <i class="icon check"></i>
            </button>
          </td>
          <td>
            <button class="circular ui positive icon button" ng-show="l.pizarron">
              <i class="icon check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="two wide column"></div>
</div>