<div class="ui container" ng-controller="loginCtrl">
  <div style="padding-top:80px">
    <div class="ui icon message">
      <i class="inbox icon"></i>
      <div class="content">
        <div class="header">
          Bienvenido!
        </div>
        <p>Porfavor! Ingresa tu usuario y contraseña para acceder al sistema</p>
      </div>
    </div>
    <div class="ui negative message" ng-show="msg_err === true">
      <i class="close icon"></i>
      <div class="header">
        Opss! Tienes un error
      </div>
      <p>
        {[msg_err_t]}
      </p>
    </div>
    <form class="ui form">
      <div class="field">
        <label>Usuario</label>
        <input type="text" ng-model="login.user">
      </div>
      <div class="field">
        <label>Contraseña</label>
        <input type="password" ng-model="login.pass">
      </div>
      <button class="ui button" type="submit" ng-click="btnDoLogin()">Ingresar</button>
    </form>
  </div>
</div>