<div class="ui grid" ng-controller="homeCtrl" ng-init="initTabla({{tabla_id}})">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <h1>{[msg_tabla]}</h1>
    <div class="ui label">
      Total de registros
      <div class="detail">{[list.length]}</div>
    </div>
    <table class="ui table" ng-show="usuarioS">
      <thead>
        <th>usuario_id</th>
        <th>nombre</th>
        <th>usuario_login</th>
        <th>activo</th>
        <th>perfil_id</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.usuario_id]}</td>
          <td>{[l.nombre]}</td>
          <td>{[l.usuario_login]}</td>
          <td>{[l.activo]}</td>
          <td>{[l.perfil_id]}</td>
        </tr>
      </tbody>
    </table>

    <table class="ui table" ng-show="perfilS">
      <thead>
        <th>perfil_id</th>
        <th>nombre</th>
        <th>activo</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.perfil_id]}</td>
          <td>{[l.nombre]}</td>
          <td>{[l.activo]}</td>
        </tr>
      </tbody>
    </table>

    <table class="ui table" ng-show="salaS">
      <thead>
        <th>sala_id</th>
        <th>nombre</th>
        <th>activo</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.sala_id]}</td>
          <td>{[l.nombre]}</td>
          <td>{[l.activo]}</td>
        </tr>
      </tbody>
    </table>

    <table class="ui table" ng-show="agendaS">
      <thead>
        <th>agenda_id</th>
        <th>fecha_captura</th>
        <th>fecha</th>
        <th>asunto</th>
        <th>cafeteria</th>
        <th>proyector</th>
        <th>pizarron</th>
        <th>activo</th>
        <th>sala_id</th>
        <th>horario_id</th>
        <th>usuario_id</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.agenda_id]}</td>
          <td>{[l.fecha_captura]}</td>
          <td>{[l.fecha]}</td>
          <td>{[l.asunto]}</td>
          <td>{[l.cafeteria]}</td>
          <td>{[l.proyector]}</td>
          <td>{[l.pizarron]}</td>
          <td>{[l.activo]}</td>
          <td>{[l.sala_id]}</td>
          <td>{[l.horario_id]}</td>
          <td>{[l.usuario_id]}</td>
        </tr>
      </tbody>
    </table>

    <table class="ui table" ng-show="agenda_participanteS">
      <thead>
        <th>participante_id</th>
        <th>agenda_id</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{[l.participante_id]}</td>
          <td>{[l.agenda_id]}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="two wide column"></div>
</div>
